.wrap {
    width: 100%;
    overflow:auto;
}

.fleft {
    	float:left; 
    	width: 60%;
	display: block;
	background-image: url(../img/login.jpg);
    	height: 100%;
}



.fright {
	float: right;

    height: 100%;
    width: 40%;
    
}
