<!DOCTYPE html>
<html>
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load form_tags %}
{% load form_tags widget_tweaks %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GoldenSnitch - Sign Up</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="{% url 'blogpostlist' %}">Golden Snitch</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'blogpostlist' %}">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Sign Up</h2>
                </div>

                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group"><label for="username">Username</label>
                    {% render_field form.username class=form.username|input_class %}
                        {% if form.username.errors %}
                        <div class="d-flex justify-content-center small font-italic links">{{ form.password1.errors }}</div>
                        <small class="align-items-center font-italic">{{ form.username.errors }}</small>
                        {% endif %}
                        <small class="align-items-center font-italic">{{ form.username.help_text|safe }}</small>
                    </div>

                    <div class="form-group"><label for="password1">Password</label>
                    {% render_field form.password1 class=form.password1|input_class %}
                    {% if form.password1.errors %} 
                    <div class="d-flex justify-content-center small font-italic links">{{ form.password1.errors }}</div>
                    {% endif %}
                    <small class="align-items-center">{{ form.password1.help_text|safe }}</small>
                    </div>

                    <div class="form-group"><label for="password2">Re-type Password</label>
                    {% render_field form.password2 class=form.password2|input_class %}
                    {% if form.password2.errors %} 
                    <div class="d-flex justify-content-center small font-italic links">{{ form.password2.errors }}</div>
                    {% endif %}
                    <small class="align-items-center">{{ form.password2.help_text|safe }}</small>
                    </div>

                    <div class="form-group"><label for="email">Email</label>
                    {% render_field form.email class=form.email|input_class %}
                    {% if form.email.errors %} 
                    <div class="d-flex justify-content-center small font-italic links">{{ form.email.errors }}</div>
                    {% endif %}
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                </form>
                    <br>
                    <br>
                    <div class="col text-center"><small class="align-items-center">Already have an account? Click here to&nbsp;</small><a href="{% url 'bloglogin' %}">Login</a></div>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/static/assets/js/smoothproducts.min.js"></script>
    <script src="/static/assets/js/theme.js"></script>
</body>

</html>