{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Our Clients</li>
{% endblock %}

{% block content %}

  <div class="mb-4">
    <a href="{% url 'client_new' %}" class="btn btn-primary">Add new client?</a>
  </div>

  <table class="table">

    <thead class="thead-inverse">
      <tr>
        <th>Client</th>
        <th>City</th>
        <th>State</th>
      </tr>
    </thead>

    <tbody>
      {% for client in clients %}
        <tr>
          <td class="align-middle"><a href="{% url 'client_details' client.pk %}">{{ client.Name }}</a></td>
          <td class="align-middle">{{ client.City }}</td>
          <td class="align-middle">{{ client.State }}</td>
        </tr>
      {% endfor %}
    </tbody>



  </table>

{% if clients.has_other_pages %}
  <ul class="pagination">
    	{% if clients.has_previous %}
      	<li><a href="?page={{ clients.previous_page_number }}">&laquo;</a></li>
    	{% else %}
      	<li class="disabled"><span>&laquo;</span></li>
    	{% endif %}

    	{% for i in clients.paginator.page_range %}
      		{% if clients.number == i %}
        		<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      		{% else %}
        		<li><a href="?page={{ i }}">{{ i }}</a></li>
      		{% endif %}
    	{% endfor %}
    
	{% if clients.has_next %}
      	<li><a href="?page={{ clients.next_page_number }}">&raquo;</a></li>
    	{% else %}
      	<li class="disabled"><span>&raquo;</span></li>
    	{% endif %}
  </ul>
{% endif %}

{% endblock %}

