{% extends 'base3.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible rounded" role="alert">
  <strong>Holy guacamole!</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}


  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save?</button>
  </form>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('.alert-dismissible').show();
    setTimeout(function(){ $('.alert').hide(); }, 5000);
</script>


{% endblock %}